<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

    <title>Document</title>

    <style>
      body{padding-top:20px;}
    </style>
</head>
<body>
  
  <div class="container">
      <div class="row">
      <div class="col-md-4">
              <div class="well well-sm" style="width: 60vw; height: 30vh;">
                  <div class="media">
                      <a class="thumbnail pull-left" href="#">
                          <img class="media-object" style="height: 20vh" src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png">
                      </a>
                      <div class="media-body">
                          <h2 class="media-heading">Name: <%=`${user.firstName} ${user.lastName}`%></h2>
                          <h2 class="media-heading">User name: <%=`${user.username}`%></h2>
                          <input type="date" id="datePicker" />
                          
                          <div>
                            <h3> <input type="checkbox" onclick=" window.location.href='/'"/> Điểm danh đầu giờ</h3>
                          </div>

                          <div>
                            <h3> <input type="checkbox"  onclick=" window.location.href='/'"/> Điểm danh cuối giờ</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
  </div>

  <script>
    document.getElementById('datePicker').valueAsDate = new Date();
  </script>
</body>
</html>